<form [formGroup]="bookForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Book Name</mat-label>
        <input matInput placeholder="e.g. Lord of the Rings" type="text" formControlName="bookNameInput" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input matInput placeholder="e.g. J R Tolkien" type="text" formControlName="bookAuthorInput" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="bookCategoryInput" required>
          <mat-option value="Thriller">Thriller</mat-option>
          <mat-option value="Adventure">Adventure</mat-option>
          <mat-option value="Comedy">Comedy</mat-option>
        </mat-select>    
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="bookDescInput" required></textarea>
      </mat-form-field>
    </p>
    <button (click)="submitBook()" type="submit" color="primary" [disabled]="!bookForm.valid" mat-raised-button>
      Submit
    </button>
  </form>
    
  <h3>{{bookAlert}}</h3>